<!--Initial Homepage HTML using ejs-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Capstone Login</title>
 </head>
 <body>
    <h1>Capstone Login Page!</h1>

    <!--Form for signing up-->
    <form>
        <h2>Log in</h2>
        <!--Label information for entering email and possible error-->
        <label for="email">Email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>
        <!--Label information for entering password and possible error-->
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>Log in</button>
    </form>
 </body>

 <!--JavaScript for handeling the sign up process-->
 <script>
    const form = document.querySelector('form');

    //Listen for when the submit button is pressed then fire function to take in event object
    form.addEventListener('submit', (e) => {
        e.preventDefault(); //Prevents refresh from happening
    
        //Get the email and password from name field
        const email = form.email.value;
        const password = form.password.value;

        //Log onto the developer tools console this information
        console.log(email, password);
    })
 </script>
 </body>
</html>